
*{
  /* font-size: 1.4rem; */
  margin: 0;
  padding: 0;
  line-height: 1.5;
  line-height: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;

}
/* Ensure Mobile-Only View */
@media (min-width: 600px) {
  body {
      width: 400px;
      /* margin: auto; */
  }
}

/* Background Gradient */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #6a11cb, #2575fc); */
  border-radius: 15px;

  /* margin:0px;
  display: grid;
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
  place-items: center;
  height: 100vh; */
}



.user{
  font-size:26px;
  color: #2575fc;

}
/* Card Styles */
.card {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

/* Profile Image */
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* border: 1px solid white; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* User Information */
.name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.location, .job-title {
  font-size: 14px;
  color: gray;
}

/* Buttons */
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;

}


.button {

  flex: 1 1 calc(50% - 10px); /* Makes both buttons per row */
  padding: 8px 0px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 2px 0;
  transition: transform 0.3s ease-in-out;

}

@media (max-width: 400px) {
  .button {

    font-size: 14px;
  }
}


/* Social Icons */
.social-icon{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
}

.social-icon a{
  padding: 10px;
  font-size: 24px;
  flex: 1 1 calc(20% - 10px); /* Makes both buttons per row */
  text-align: center;
  transition: transform 0.3s ease-in-out;

}

.social-icon a:hover{

  transform: scale(1.2);
}

/* Button Colors */
.btn-blue { background: #007BFF; }
.btn-green { background: #28A745; }
.btn-yellow { background: #FFC107; }



/* .social {
  font-size: 24px;
  text-decoration: none;
} */

/* Social Colors */
.social-blue { color: #007BFF; }
.social-pink { color: #E1306C; }
.social-black { color: black; }
.social-linkedin { color: #0A66C2; }
.social-yellow { color: #FFC107; }

/* Footer */
.footer {
  margin-top: 15px;
  font-size: 12px;
  color: gray;
}

.order-link {
  color: #007BFF;
  font-weight: bold;
  text-decoration: none;
}
